@model Boolean?

<div class="checkbox checkbox-slider--b-flat checkbox-slider-md checkbox-slider-info">
    <label>
        <input type="checkbox" id="@ViewContext.ViewData.ModelMetadata.PropertyName"
            name="@ViewContext.ViewData.ModelMetadata.PropertyName"
            checked="checked" value="@Model"
            data-val="true"><span></span>        
    </label>
</div>

