
@using ICC.Mincloud.Modelo.Entities
@using Kendo.Mvc.UI
@model Periodo
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="">
                <div class="row">
                    @(Html.Kendo().Grid<Estudiante>().Mobile()
                              .Name("grdFiltros")
                              .Columns(columns =>
                              {

                                  columns.Bound(c => c.Persona.Identificacion).Title("Identificación").Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")));
                                  columns.Bound(c => c.Persona.NombreCompletoSimple).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains"))).Title("Estudiante");
                                  columns.Bound(c => c.EstudianteId).ClientTemplate("<div class='btn-group'>" +
                                                                                 "<a href='" + @Url.Action("Horario", new { estudianteId = "#: EstudianteId#", periodoId = Model.PeriodoId, programaId = Model.ProgramaId }) + "' class='btn btn-success btn-sm'><i class='ace-icon fa fa-calendar'> Gestionar horario </i></a>" +
                                                                                 "</div>").Title("Horario").Filterable(false);
                                  //columns.Bound(c => c.Nombre).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")));
                                  //columns.Bound(c => c.FechaInicio).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains"))).Title("Fecha inicio").Format("{0:dd/MM/yyyy}");
                                  //columns.Bound(c => c.FechaFin).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains"))).Title("Fecha fin").Format("{0:dd/MM/yyyy}");
                                  //columns.Bound(c => c.PeriodoId).ClientTemplate("<div class='btn-group'>" +
                                  //                                               "<a href='" + @Url.Action("GestionarGrupos", "Grupos", new { periodoId = "#: PeriodoId#" }) + "' class='btn btn-success orange btn-sm'><i class='ace-icon fa fa-calendar-check-o'></i>Gestionar grupos</a>" +
                                  //                                               "</div>").Width(100).Title("Grupos").Filterable(false);
                                  //columns.Bound(c => c.CanMatricular).ClientTemplate("#=generateTemplate(data)#").Width(100).Title("Horarios").Filterable(false);
                              })
                              .ColumnMenu().Groupable(g => g.Enabled(false))
                              .Sortable()
                              .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                              .Pageable(pageable => pageable
                                  .Refresh(true)
                                  .PageSizes(true)
                                  .ButtonCount(5))
                              .DataSource(dataSource => dataSource
                                  .Ajax()
                                  .PageSize(20)
                                  .ServerOperation(true)
                                  .Read(read => read.Action("GetEstudiantes", "GruposMatriculas", new { periodoId = Model.PeriodoId })))
                    )
                </div>
            </div>
        </div>
    </div>
</div>
