@model ICC.Mincloud.Modelo.Entities.Ocupacion
@{
	ViewBag.Title = "Delete";
}

<div class="page-header">
    <h1>
        Ocupaciones
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            eliminar ocupación

        </small>
    </h1>
</div>
<div class="row">
	<div class="span4">
		<table class="table table-bordered table-striped table-condensed table-hover pull-left">
			<tr>
				<td>@Html.LabelFor(x => x.Nombre)</td>
				<td>@Model.Nombre</td>
			</tr>
		</table>
	</div>
</div>
<div class="row">
	<div class="span4">
@using (Html.BeginForm())
{
    <input type="submit" value="Eliminar" class="btn btn-danger" />
        @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
}
	</div>
</div>
