@using ICC.Mincloud.Modelo.Entities
@using Kendo.Mvc.UI
@model ICC.Mincloud.Modelo.Entities.Ocupacion
@{
    ViewBag.Title = "Ocupaciones";
}
<div class="page-header">
    <h1>
        Ocupaciones
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Lista de ocupaciones
            @*<button class="btn btn-primary pull-right" id="btnNuevo"><i class='ace-icon fa fa-user-plus bigger-110'></i> Crear </button>*@
            @Html.ActionLink("Crear", "Create", null, new { @class = "btn btn-primary pull-right" })
        </small>

        @*@Html.ActionLink("Crear nuevo", "Create", null, new { @class = "btn btn-primary pull-right" })*@


    </h1>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="">

                <div class="row">
                    @(Html.Kendo().Grid<Paise>()
                          .Name("grdOcupaciones")
                          .Columns(columns =>
                          {
                              columns.Bound(c => c.PaisId).ClientTemplate("<div class='btn-group'>" +
                                                                             "<a href='" + @Url.Action("Edit", new { OcupacionId = "#: OcupacionId#" }) + "' class='btn btn-success btn-xs'><i class='ace-icon fa fa-pencil'></i></a>" +
                                                                             "</div>" +
                                                                             "<div class='btn-group'>" +
                                                                             "<a href='" + @Url.Action("Delete", new { OcupacionId = "#: OcupacionId#" }) + "' class='btn btn-danger btn-xs'><i class='glyphicon glyphicon-trash'></i></a>" +
                                                                             "</div>").Width(100).Title("Acciones").Filterable(false);
                              columns.Bound(c => c.Nombre).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")));
                          })
                          .ColumnMenu().Groupable(g => g.Enabled(true))
                          .Sortable()
                          .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                          .Pageable(pageable => pageable
                              .Refresh(true)
                              .PageSizes(true)
                              .ButtonCount(5))
                          .DataSource(dataSource => dataSource
                              .Ajax()
                              .PageSize(20)
                              .ServerOperation(true)
                              .Read(read => read.Action("GetOcupaciones", "Ocupaciones")))
                    )
                </div>

            </div>
        </div>
    </div>
</div>





