@using Kendo.Mvc.UI
@using ICC.Mincloud.Modelo.Entities
@{
    ViewBag.Title = "Dashboard personas";
}

<h2>Dashboard personas</h2>


            @{
                Html.RenderPartial("_DashboardPersonas");
            }
        @*</div>
    </div>
</div>*@