@{
    ViewBag.Title = "Confirmación de envío de contraseña";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="login-container">
            <div class="center">
                <h1>
                    <i class="ace-icon fa fa-cloud green"></i>
                    <span class="red">Mincloud</span>
                    <span class="grey" id="id-text2">App</span>
                </h1>
                <h4 class="blue" id="id-company-text">&copy; MinCloud Company</h4>
            </div>

            <div class="space-6"></div>

            <div class="position-relative">
                <div id="login-box" class="login-box visible widget-box no-border">
                    <div class="widget-body">
                        <div class="widget-main">
                            <h4 class="header blue lighter bigger">
                                <i class="ace-icon fa fa-coffee green"></i>
                                @ViewBag.Title.
                            </h4>

                            <div class="space-6"></div>

                            <section id="loginForm">
                                
                                <div>
                                    <p>
                                        Por favor revise su email para reiniciar su contraseña. En caso de no encontrar nuestro correo mire en la carpeta de spam
                                    </p>

                                </div>
                                @Html.ActionLink("Iniciar sesión","Login","Account")
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>*@
</div>


